# Dependencies
node_modules/
package-lock.json

# Environment
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# PM2
ecosystem.config.js

# Build
dist/
build/

# Temp
tmp/
temp/
*.tmp
